@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap');


.App {
  font-family: 'Figtree', sans-serif;
}

.card{
  border: 2px solid black;
}

.movie-card {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.movie-card .card-title {
  font-size: 18px;
  font-weight: bold;
}

.movie-card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.movie-card .card-text {
  margin-bottom: 5px;
}
.container{
  background-color: rgb(250, 244, 237);
}

.card .card-img-top {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.3);
}